@using IMyBest.WeiXin.AgentServer.Services
@using IMyBest.WeiXin.AgentServer.Models
@{
    Layout = null;
    bool webIsLogin = ViewBag.webIsLogin != null && ViewBag.webIsLogin == true;
    string basePath = Url.Content("~/Content/Login/v3/");
    AgencyMerchantModel agent = ViewBag.AgencyMerchant ?? new AgencyMerchantModel();//代理商信息-过滤器AgencyMerchantAttribute填充ViewBag
    var isShowScrollMenu = agent.IsAgencyMerchantPage ? false : true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@(ViewBag.Title ?? "艾客SCRM-国内领先社交电商工具平台，助力商家构建私域流量")</title>
    <meta name="keywords" content="@(ViewBag.KeyWords ?? "艾客微信生态平台，微信电商，流量平台，淘宝好评返现，淘宝权重，淘宝微信分享，微信打开淘宝，提升动态评分，打造宝贝爆款，提升店铺DSR")" />
    <meta name="description" content="@(ViewBag.Description ?? "艾客打造微信生态优选的电商工具和流量平台，商家通过微信引流淘宝购物；提高销量；好评返现提升店铺好率；精准推送提升客人的再次购买；抽奖活动提高粉丝活跃度等等的功能实现低成本、系统化社群营销和会员管理，提高平台店铺的销售额和复购率。操作简单易上手，同时还有大量的顶级商家分享的营销干货，手把手教你怎么做好电商。")" />
  
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
   
    <link rel="stylesheet"href="@(basePath)css/css.css">
    @*    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet">*@
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/default/styles/login.css")">
    @RenderSection("style", false)
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/lib/jquery/jquery-1.11.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.carouFredSel-6.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/lib/login/jquery.scrollTo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/lib/modernizr/modernizr.custom.min.js")"></script>
</head>
<body>
    <div class="main-wrap reg-header">       
        @RenderBody()       
    </div>
   
    <script type="text/javascript">
        var layoutScrollTo = function (id) {
            if (id.indexOf('#') == -1) id = '#' + id;
            $(id).ScrollTo(500);
            $(".header .nav-list a").each(function () {
                if (this.hash == id) {
                    $(this).addClass("active").siblings().removeClass("active");
                }
            });
        };
        layoutScrollTo(window.location.hash || '');
    </script>
    @RenderSection("scripts", false)
</body>
</html>
