@{
    string basePath = Model;    
}
<div id="" class="section section-customer">
    <div class="wrap customer-wrap">
        <h1 class="c-title">我们服务的客户</h1>
        <ul class="clearfix list">
            <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101800.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101800-1.jpg">
                        </div>
                    </div>
                    <div class="title">惠普</div>
                </li>
                <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101802.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101802-1.jpg">
                        </div>
                    </div>
                    <div class="title">雪梨家</div>
                </li>
                <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101803.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101803-1.jpg">
                        </div>
                    </div>
                    <div class="title">茵曼</div>
                </li>
                <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101804.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101804-1.jpg">
                        </div>
                    </div>
                    <div class="title">九牧王</div>
                </li>
                <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101805.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101805-1.jpg">
                        </div>
                    </div>
                    <div class="title">千纸鹤</div>
                </li>
                
            <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101808.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101808-1.jpg">
                        </div>
                    </div>
                    <div class="title">伊米妮</div>
                </li>
            <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101806.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101806-1.jpg">
                        </div>
                    </div>
                    <div class="title">良品铺子</div>
                </li>

                <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101807.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101807-1.jpg">
                        </div>
                    </div>
                    <div class="title">舒客</div>
                </li>
            <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101799.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101799-1.jpg">
                        </div>
                    </div>
                    <div class="title">百雀羚</div>
                </li>
              <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101801.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101801-1.jpg">
                        </div>
                    </div>
                    <div class="title">水密码</div>
                </li>
                
                <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs0101809.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs0101809-1.jpg">
                        </div>
                    </div>
                    <div class="title">周大生</div>
                </li>
                <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs01018010.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs01018010-1.jpg">
                        </div>
                    </div>
                    <div class="title">爱黛</div>
                </li>
               @* <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs01018011.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs01018011-1.jpg">
                        </div>
                    </div>
                    <div class="title">小谷粒</div>
                </li>
                <li>
                    <div class="pic">
                        <div class="mw">
                            <img src="@(basePath)images/cs01018012.jpg">
                        </div>
                        <div class="code">
                            <img src="@(basePath)images/cs01018012-1.jpg">
                        </div>
                    </div>
                    <div class="title">土家硒泥坊</div>
                </li>*@

            </ul>
    </div>
</div>