
@{
    ViewBag.Title = "揭秘如何利用微信推送带来150W多的天猫店铺销售额-艾客";
    ViewBag.KeyWords = "微信营销、精准推送、沉淀微信会员";
    ViewBag.Description = "通过积累微信会员和粉丝，在天猫活动大促时通过微信引流推送活动信息，助力提升店铺销售";
    Layout = "~/Views/Index/_LayerNews.cshtml";
    string basePath = Url.Content("~/Content/Login/060511/");    
}

<div class="wrapper content-wrap">
    <div class="inner-body">
        <div class="table">
            <div class="cell">
                <div class="info-container">
                    <h1 class="title">【自寻短荐】揭秘美妆H品牌如何做到618一波微信推送，带来150多W天猫销售！</h1>

<div class="bdsharebuttonbox" style="margin-top:10px;"><span style="float:left;position:relative;top:4px;">分享：</span><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

                    <div class="cn-panel">
                        <p>
                            众所周知，现在微信成了众多商家的必争之地，最吸引人无非还是微信社群流量这块大蛋糕。
                        </p>
                        <p>曾几何时看过类似公众号粉丝破千万、微商城月销售破亿等等信息，相信大部分跟我以前一样抱着半信半疑的态度，相信并不是所有的商家或者类目可以做到如此牛逼的。</p>
                        <div><img src="@(basePath)images/content/9-0.jpg"></div>
                        <p>
                           然而我们顾问指导的一个美妆H品牌，在刚刚过去的618，H品牌对这群微信的真爱脑残粉并没有在微信做精准推送，仅仅做了一次简单的营销，就给他们产生150W+销售额，复购率达到6%，阅读数达到13000多人次。 
                        </p>
                        <p>
                           如果大家对精准推送想更深入的了解，可以去查阅历史文章《微信老会员复购破百万，还发毛短信啊！！！》、《微信导流，淘宝成交，助力天猫女王节当日成交3万单》，这次我们将介绍我们H品牌是如何培养在微信圈养这群脑残粉的~
                        </p>
                        <p>
                           <span style="color:blue;font-weight:bold;">1阶段一：积累基础粉丝 总结</span><br/>
                        </p>
                        <p>
                            服务号建立之初面临最大的问题是吸引种子粉丝，而种子粉最直接最快速的来源就是已有的购买会员群体和长期关注品牌的老残粉为主，吸粉做法有以下方式，但是最重要的是要分析好自己的品牌受众群体，通过画像分析，分析出她们的兴趣爱好，生活习惯等等，投其所好去做我们下面的绑粉引导。
                        </p>
                        <p>
                            1、售后DM卡片派发吸粉卡片回流，100%中奖概率吸引会员参与，示例如下
                        </p>
                        <div><img src="@(basePath)images/content/9-1.png"></div>
                        <p>
                            在奖品这块要选择消费者感兴趣的东西，即使是iPhone6s，当然这个只是噱头，可以在概率上面做控制。另外要注意用“100%中奖”醒目标题给消费者一点希望，虽然中的都是优惠券~
                        </p>
                        <P>
                           2、物流短信附送吸引会员关注回流，禀赋效应的文案刺激更多会员参与，示例如下：
                        </P>
                        <div><img src="@(basePath)images/content/9-2.png"></div>
                        <p>
                           3、旺旺和微淘引导等其他方法比较复杂，我们后面有机会再详述。
                        </p>
                        <p>
                          以上几种方法是H品牌第一阶段积累原始粉丝的做法，不限定某一种渠道做法去引导，而是多渠道开放引导的窗口。万事开头难，第一阶段辛苦了2个月，积累了1w多粉丝数，月关注粉丝增长如下：
                        </p>
                         <div><img src="@(basePath)images/content/9-3.png"></div>
                        <p>
                          在第一批积累的粉丝其中大部分还是购买的会员和一些品牌忠实用户为主，吸引主要还是以清晰的利益点最关键，可以借助一个微信社群营销系统的红包或者抽奖都是可以比较能触动用户参与，总的来说积累速度不算快但是总算打下一个好的基础。
                        </p>
                        <p>
                            <span style="color:blue;font-weight:bold;">2阶段二：粉丝升级脑残粉阶段</span>
                        </p>
                        <p>
                            服务号吸粉也许不是所有商家的难事，掉粉率才是最令人头疼的，而降低掉粉率最核心的是互动体验。我不赞同内容为王的概念，输出的内容再高大上，互动的形式体验不够粉丝也不一定买单。毕竟电商商家特长是卖货的，说太多高大上的内容，消费者也觉得你在做广告，还不如实在一点，但是简单粗暴的促销信息，看多了除了疲劳，对粉，丝的体验就是这就是个派传单的只不过换了在微信发而已，所以配合热点做文章还是要的。
                        </p>
                         <div><img src="@(basePath)images/content/9-4.png"></div>
                        <p>
                           H品牌商家采取的是一种循序渐进的做法，积累原始粉丝之后，陆续开始尝试结合店铺做一些有互动式的活动，以下是他们1月份推送的活动内容：
                        </p>
                        <div><img src="@(basePath)images/content/9-5.jpg"></div>
                        <p>
                            1月的活动是以周一会员限时闪兑的形式，在服务号兑换商城里边设置两款产品，限定数量，只要是本店铺的会员就可以以较低的积分去抢兑，先到先得，兑完即止。
                        </p>
                        <p>
                            兑换情况如下：
                        </p>
                        <div><img src="@(basePath)images/content/9-6.png"></div>
                        <p>
                            1月份第一、第二周分别推出两款200积分限时兑换礼品30份，活动推出之后分别在15分钟和5分钟之内产品就兑换完毕。紧接着继续推出系统的抽奖活动，让会员赚积分，此条信息的阅读率达到9000+多。当月第四周就将闪兑的物流发送并且服务号公布，让会员真真切切感受了一次好的优惠体验。2月份过年月，以红包为主题继续让会员通过互动形式体验优惠和VIP特权，1月和2月的吸粉情况如下：
                        </p>
                        <div><img src="@(basePath)images/content/9-7.jpg"></div>
                        <p>
                            对比上两个月，月关注人数增长了一倍，会员回流率增高，前期第一批会员口碑慢慢开始传播所以总体的吸粉速度也可以实现倍涨。
                        </p>
                        <p>
                            同时，统计近4个月的服务号取关率变化如下：
                        </p>
                        <div><img src="@(basePath)images/content/9-8.png"></div>
                        <p>
                            可以从取关率的变化看出，随着整个服务号的互动形式丰富和活动体验感加强，总体会员的取关率也会下降，虽然总体粉丝增长有加快，但是取关率是下降的，整个微信粉丝的脑残升级目标越来越靠近了。
                        </p>
                        <p>
                            <span style="color:blue;font-weight:bold;">3阶段三：实现脑残转化带动销售提升</span>
                        </p>
                        <p>
                            经过第一第二阶段的积累，目前积累的近13W的粉丝，1月和2月的互动优惠体验之后服务号从会员口碑和活跃度上都有一个不错的铺垫和基础了。H品牌运营就已经在3月份女王节实现近70W销售额，而本次618微信复购实现破百万销售，上策划了试用活动、活动热卖推送、节后活动接力，推送如下：
                        </p>
                        <div><img src="@(basePath)images/content/9-9.png"></div>
                        <p>
                            6月17日晚推送之后，具体天猫销售数字上文已经提及了，下图主要是对比了微信的会员跟自然会员的对比：
                        </p>
                        <div><img src="@(basePath)images/content/9-10.png"></div>
                        <p><span style="color:red;">PS：该处微信7W的会员总数与上述讲到的13W累计粉丝是不一样概念哦！</span></p>
                        <p>
                            可以看到微信这部分推送的会员复购率是天猫店铺同期会员的3倍，对于微信运营下来这部分会员的高复购能力是可以得到佐证的，有了这部分数据后期也可以让商家对于微信运营ROI进一步的考核。
                        </p>
                        <p>
                            <span style="color:blue;font-weight:bold;">4阶段四：脑残粉口碑传播，裂变新粉丝</span>
                        </p>
                        <p>
                            会员粉丝的价值最直接的体现是给店铺带来销售，除此之外就是口碑传播带来新购买用户了。有了基础粉丝积累、会员体验口碑，接下来需要充分挖掘到会员的价值就是裂变新用户。有一点值得强调是会员体验是一个长期的工作，考虑老会员或者老粉丝裂变的前提是让他们持续好的体验。
                        </p>
                        <p>
                            以老带新裂变新粉丝的方式有很多，目前服务号能够流行的玩法无非是点赞、投票、拉人，以下分享H品牌其中的两种裂变粉丝的玩法。H品牌推出第一波新品试用活动，推送如下：
                        </p>
                        <div><img src="@(basePath)images/content/9-11.jpg"></div>
                        <p>
                            新品试用100份免费领取，第一次活动推送之后的3.5h参与试用活动6715人，参与率已到达60%。截止至结束，群发消息10785人阅读，申请次数至24357，当天新增粉丝5K+，<span style="color:red;">拉新粉成本0.2元</span>，总体活动起了很好的传播效果。
                        </p>
                        <p>
                            第二波拉粉送流量抽奖的机会，借助画报功能，服务号老会员可以生成自己的特定画报同时带有一个特定的二维码，每个通过扫这个二维码关注的新会员和老会员都将得到100个经验值，拉的人越多，经验值越多，经验值可以兑换5M-1G流量，推送如下：
                        </p>
                        <div><img src="@(basePath)images/content/9-12.png"></div>
                        <p>
                            持续2周的活动，通过这个活动新粉丝增长2W+，支出流量费用5k多，<span style="color:red;">拉粉成本：0.25元！</span>活动以流量这种刚需的利益点切入大大吸引用户参与，同时拉粉总成本可以大大降低。
                        </p>
                        <p>
                            总结裂变新用户需要强调的是一定要结合商家所属类目和用户人群特点，利益点切合不仅要看商家成本还要看用户群体的偏向和接受度。商家可以灵活借助第三方的力量，从形式的多样化和系统效率上去考虑。
                        </p>
                        <p>
                            以上是H品牌商家从初始走来的四个阶段，相信很多商家会有共鸣和相同的感慨，对于商家来说微信红利在未来一段时间内都是非常可观的，没有一蹴而就的捷径。
                        </p>
                        <p>
                            希望以上对于H品牌商家服务号的进阶攻略可以给大家一个借鉴思路，服务号的玩法空间很大也很广，期待更多青出于蓝胜于蓝的案例分享，H品牌循序渐进的实践努力和用心，相信今年的双11他们也可以呈现让人惊艳的大爆发！
                        </p>

                        
                    </div>
                </div>
            </div>
            <div class="cell news-list">
                @{Html.RenderPartial("_NewsRightItems", basePath);}
            </div>
        </div>
    </div>
</div>