@{
    ViewBag.Title = "一天微信粉丝增加八千多，天猫复购翻番-艾客";
    ViewBag.KeyWords = "天猫复购、微信会员、会员体系";
    ViewBag.Description = "搭建良好的会员体系，通过活动裂变粉丝，快速沉淀粉丝；通过精准推送，提高老会员的复购率";
    Layout = "~/Views/Index/_LayerNews.cshtml";
    string basePath = Url.Content("~/Content/Login/060511/");
}
<div class="wrapper content-wrap">
        <div class="inner-body">
            <div class="table">
                <div class="cell">
                    <div class="info-container">
                        <h1 class="title"><strong>[男装干货大揭秘]</strong>如何做到1天增粉8K+，天猫复购翻番</h1>

                        <div class="bdsharebuttonbox" style="margin-top:10px;"><span style="float:left;position:relative;top:4px;">分享：</span><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
                        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                        <div class="cn-panel">
                            <p>
                                《参与感》一书中说：“在风口上，猪都可以飞起来”，在网红模式井喷的大环境下，看了下面的文章，
                                你的微信服务号也可以做到日涨8K粉，天猫复购翻番，粉丝运营不是梦。那到底是如何做到这么高产的数据呢？
                                且看以下分解：
                            </p>
                            <p>
                                1.本店粉丝群体分析<br/>
                                在做微信服务号粉丝运营前，我们针对自己的客户群体做了分析，主要是18-27岁的老鲜肉，而这个年龄层的的群体对于手机是非常依赖的，也是微信使用的主要群体。根据微信官方数据显示微信使用者男女比例为1.8:1，20-30岁年龄层使用者占高达74%。清晰了我们的用户群体，那我们就结合这一群体的行为、天猫购物习惯进行服务号定位及活动策划，来经营粉丝。
                            </p>
                            <p>
                                2. 多触角吸粉<br/>
                                1） 以粉丝裂变粉丝<br/>
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-1.jpg">
                            </p>
                            <p>
                                利用选秀、歌唱比赛等具备的广泛传播性和覆盖性，我们赞助了一次校园歌手大赛，结合微信服务号的投票功能，进行投票吸粉，让赛事的参与者和支持者去关注和裂变粉丝。4月19日6点前推送了歌手大赛图文，到24日活动截止，共吸粉1.3W左右，日均2.5K，真是粉丝能量超乎你想象啊。单单24号当天增粉8K+，8K+,8k+,重要的事情说三遍！
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-2.jpg">
                            </p>
                            <p>
                               活动关注趋势图：
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-3.jpg">
                            </p>
                            <p>
                                在尝到粉丝裂变的甜头后，近期我们计划策划一个微海报活动，利用这个年龄层的群体对网游的喜好以及即将上映的魔兽世界宣传，设置魔兽世界部落和联盟2个阵营，让参与者去裂变，粉丝来拉粉丝进行关注，根据拉粉的积分排行榜来给予奖励。至于效果如何，敬请6月拭目以待！
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-4.jpg">
                            </p>
                            <p>
                                2） 绑粉卡<br />
                                利用好评返现利益点来刺激消费者，关注服务号进而绑定账号，也为后续做营销活动奠定电商数据基础。绑粉卡在吸粉动作中是不可或缺的一部分，通过绑粉卡吸粉进来的不仅仅是质量相对较高的粉丝还是具备电商数据会员，这类粉丝忠诚度往往是最高的。从开始运营的时候自然吸粉每天也就30、40的吸粉，发放绑粉卡后每天都是100、200的加粉，有图有真相：
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-5.jpg">
                            </p>
                            <p>
                                3） 关怀短信引导<br />
                                模板：{Name}您好，系统显示您的包裹已签收！关注微信：×××fans，凭5盏灯优质评价截图领5元微信红包。<br />
                                通过关怀短信进行吸粉引导，不需要占据额外的短信费用预算。在进行发货关怀的时候还进行了吸粉，一举多得。
                            </p>
                            <p>
                                3、粉丝运营<br />
                                a）提升粉丝参与感<br />
                                通过平台设置买家秀活动，让消费者用晒图来增加产品的曝光度，在提升消费者的参与感和消费体验同时又拉进了新粉。当时推送该图文的时候，筛选推送了8469人，阅读量达到2544，阅读率达到30.02%
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-6.jpg">
                            </p>
                            <p>
                                在天猫店铺上新品的时候，也可以借助粉丝来进行选款，做下产品的民意调查，选择粉丝最认可的款式制作上架。
                            </p>
                            <p>
                                b）提升粉丝粘性<br />
                                利用艾客平台中的幸运活动设置利益点，来刺激粉丝参与活动，提升粉丝的粘性，增强服务号的趣味性。不至于出现推活动或者图文消息的时候出现大批量掉粉。 如3月13日推送的图文，不仅没有大量掉粉，还有不错参与情况。
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-7.jpg">
                            </p>
                            <p>
                                c）搭建会员体系<br />
                                利用艾客平台中的积分体系来搭建会员制度，通过不同会员等级享受不同会员的特权，让会员有一种归属感，同时打造微信会员卡，让购物会员随时随地可以享受VIP的服务。同时结合店铺活动、新品活动、会员日等给予会员优惠反馈，让会员充分感受到微信服务号所带来的服务便利。
                            </p>
                            <p>
                                d）粉丝大回馈<br />
                                对服务号聚集到的粉丝，要做到物尽其用、人尽其力。搭建兑换商城，设置积分或经验值兑换店铺商品、优惠券、游戏周边等，做到粉丝有钱出钱、有力出力。让粉丝带动服务号内的积极性的同时还可以得到回报，一举多得。
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-8.jpg">
                            </p>
                            <p>
                                e）内容输出<br />
                                想要服务号大量的聚集粉丝而又较低的掉粉率，那么日常的内容输出尤为重要。在18-27岁这个年龄层的人群，节日活动和想法都是比较多的。那我们的服务号日常推送就可以结合时下的节日节点、热门事件等进行话题输出的时候还可以掺杂一些软性的营销活动和吸粉活动，让粉丝在不知不觉中为成为服务号的宣传者。
                            </p>
                            <p>
                                4、天猫复购翻番提升<br />
                                一切没有数据反馈的论述都是耍流氓，我们也从运营现阶段的粉丝数据和复购数据来做个展示。服务号从2月份正式开始吸粉、绑粉运营、到目前已经吸粉18303，绑定8903。在运营的这段时间，微信绑定会员成交、复购等方面的数据也是较为喜人的。总共绑定会员数6379，复购人数达到1494，复够率高达23.42%，而店铺复够率仅为13.16%，微信会员比店铺复够率高10个点，接近翻番的差距！
                            </p>
                            <p class="text-center">
                                <img src="@(basePath)images/content/5-9.jpg">
                            </p>
                            <p>
                                从天猫运营数据显示来看，微信粉丝还是给我们带来了非常不错的销售效果。现在不仅仅是各种网红模式如雨后春笋般萌芽诞生，同类目的不同类目的竞争也是越演越烈，如何才能在粉丝经济中分的一块蛋糕，各家都是见仁见智，也欢迎大家一起探讨交流。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cell news-list">
                    @{Html.RenderPartial("_NewsRightItems", basePath);}
                </div>
            </div>
        </div>
    </div>