@{
    ViewBag.Title = "淘宝流量、微信逆袭女装店铺-艾客";
    ViewBag.KeyWords = "微信运营、淘宝流量红利、微信营销";
    ViewBag.Description = "微信流量贵，如何利用微信逆袭提高店铺销售！";
    Layout = "~/Views/Index/_LayerNews.cshtml";
    string basePath = Url.Content("~/Content/Login/060511/");
}
<div class="wrapper content-wrap">
    <div class="inner-body">
        <div class="table">
            <div class="cell">
                <div class="info-container">
                    <h1 class="title"><strong>流量红利已过</strong></h1>

<div class="bdsharebuttonbox" style="margin-top:10px;"><span style="float:left;position:relative;top:4px;">分享：</span><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

                    <div class="cn-panel">
                        <p>
                            <strong>一、淘宝流量红利已过，出路在何方？</strong>
                            <br />
                            近期淘宝钻展的大调整，真是让咱们这些大商家很受伤害。据说，阿里妈妈的俞老大觉得钻展流量ROI实在太高了，需要给到所有中小商家也爽一下，结果推出了一个智钻产品，直接把咱们大商家给秒杀了，ROI直接腰斩！还好老子早预料到淘宝流量红利已过，去年开始已经布局微信，看咱们今年怎么借助微信流量实现逆袭！
                        </p>
                        <p>
                            <strong>二、我们家的微信数据</strong>
                            <br />
                            咱们是一个高端女装店铺，通过一年的微信运营，目前在服务号总关注人数达2.5万，其中购买过的会员有约6.5K人。<br />
                            下图是我们在4月份做了一次关于淘金币的活动
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-1.jpg">
                        </p>
                        <p>
                            这次淘金币活动推送了近5000个会员，复购人数达到了536个，复购率为11%，单次活动产出了27.5万元！而店铺里近6个月的老会员复购率仅为2%，足足是5倍+的差距！从这个数据看，微信留存的会员，含金量、价值都远高于店铺一般的会员。
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-2.jpg">
                        </p>
                        <p>
                            其实本次活动推送很简单，就是一个淘金币抵扣的活动。然而活动成功关键点在于：1.在微信中是只推送给有购买过的会员，非购买会员是收不到这条信息的；2.结合店铺10点上新。利用一个淘金币抵扣活动，激活会员参与，进而购买上新产品。
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-3.jpg">
                        </p>
                        <p>
                            （我们家可是直接可以从微信跳转到手淘进行购物的哦，想知道这个秘密怎么设置，可以加我微信沟通）<br />
                            我们是如何做到这样的数据、以及为什么知道微信中有多少会员、并且在淘宝店铺购买的情况？下面我就给大家一一做解答
                        </p>
                        <p>
                            <strong>三、微信运营，你真的会了吗？</strong>
                            <br />
                            <strong>看看我们家的一部分微信运作逻辑：</strong>
                            <br />
                            1.实际上，我们将我们的微信服务号打造成了一个会员中心，买家购买我们家的产品后，我们会通过包裹卡、客服、物流短信等各个渠道让买家添加我们的微信服务号。
                                <br />
                            2.买家添加服务号后，输入手机号验证即可激活会员信息，同时她在淘宝店铺消费的金额将匹配到他们的微信上。
                                <br />
                            3.买家要想兑换更多产品，参与更多的活动，持续保持在我们家购买就能多多获取积分啦。当然我们也会经常举办活动，回馈给这些会员。
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-4.jpg">
                        </p>
                        <p>
                            <strong>会员互动与留存部分，我们做了这么几个核心工作，以保持会员、粉丝的持续关注：</strong>
                            <br />
                            <strong>1、积分系统：</strong>在微信上，我们构建的会员体系核心是以积分为驱动的。
                            <br />
                            1）只要在微信上有做手机号激活的买家，他们的积分将自动同步到微信上，并且提醒会员（如下图1），积分有多少。
                            <br />
                            2）购买越多、获得积分越多，积分能够换取高价值奖品。在积分商城中需花费10000积分的真丝围巾，共10条，只剩1条了。可见积分对于会员的吸引力有多大。
                            在积分商城里，上线了每周限量兑换优惠券活动，我们家是每周四上新，我们在微信这里每周四上午9点开始限量抢优惠券。同时也激活会员。
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-5.jpg">
                        </p>
                        <p>
                            <strong>2、晒朋友圈有奖：</strong>
                            <br />
                            调动会员帮助我们家扩散到他们的朋友圈，提升品牌的知名度。前段时间在微信上发起晒图刷脸，只要按照一定的格式编辑文案+自拍图片，即有机会获得在选择范围内喜欢的某款衣服。本次活动共拿出10个名额，时间持续了8天，活动效果也不错，共收得了500多张照片。
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-6.jpg">
                        </p>
                        <p>
                            而后续这个活动我们将进一步改进，直接在包裹里放置晒单活动，买家扫码即可参与活动，买家将微信朋友圈晒图的照片上传到活动页面同时复制一下订单号即可。这样可以限制买家晒某款衣服。
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-7.jpg">
                        </p>
                        <p>
                            <strong>3、设置互动游戏：</strong>
                            <br />
                            游戏方面，分两条路径，分别是会员活动、粉丝活动。
                            <br />
                            <span style="color:red">会员活动：</span>设置成为只能会员才能参与，并且在参与的时候必须消耗一定量的积分。通过这种专属活动，既能让会员感受到特别对待的好感外，又能强调积分的价值。而对于非会员来说，此举也能刺激他们成为会员，参与互动。
                            <br />
                            <span style="color:red">粉丝活动：</span>设置成为只能会员才能参与，并且在参与的时候必须消耗一定量的积分。通过这种专属活动，既能让会员感受到特别对待的好感外，又能强调积分的价值。而对于非会员来说，此举也能刺激他们成为会员，参与互动。
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-8.jpg">
                        </p>

                        <p>
                            <strong>四、结语</strong><br />
                            微信作为当下最火的社交沟通工具，如何将微信与淘宝进行融合，是接下来所有淘宝商家都需要思考的点。本文的分享只是咱们在探索过程中的一些经验，欢迎大家加我微信号进行交流！
                        </p>
                        <p>
                            d）粉丝大回馈<br />
                            对服务号聚集到的粉丝，要做到物尽其用、人尽其力。搭建兑换商城，设置积分或经验值兑换店铺商品、优惠券、游戏周边等，做到粉丝有钱出钱、有力出力。让粉丝带动服务号内的积极性的同时还可以得到回报，一举多得。
                        </p>
                        <p class="text-center">
                            <img src="@(basePath)images/content/7-9.jpg">
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell news-list">
                @{Html.RenderPartial("_NewsRightItems", basePath);}
            </div>
        </div>
    </div>
</div>
