
@{
    ViewBag.Title = "淘宝引流微信、CRM价值-艾客";
    ViewBag.KeyWords = "好评返利、提升DSR";
    ViewBag.Description = "微信好评神器助力提升淘宝天猫店铺提升DSR！";
    Layout = "~/Views/Index/_LayerNews.cshtml";
    string basePath = Url.Content("~/Content/Login/060511/");    
}

<div class="wrapper content-wrap">
    <div class="inner-body">
        <div class="table">
            <div class="cell">
                <div class="info-container">
                    <h1 class="title">探讨：淘宝客户引流到微信做好评返利提升DSR与做CRM的价值</h1>

                        <div class="bdsharebuttonbox" style="margin-top:10px;"><span style="float:left;position:relative;top:4px;">分享：</span><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
                        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

                    <div class="cn-panel">
                        <p>
                            一、淘宝禁止好评返现<br>
                            淘宝官方今年一则文件（如下），看着绿飘飘的三项DSR，我傻眼了。.
                            <div><img src="@(basePath)images/content/3-1.jpg"></div>
                        </p>
                        <p>
                            店铺运营两年多，一直以来的思路是先把销量做好，销量好了，流量自然就多，后期DSR肯定就顺势上去了，所以一直没想过专门投入维护DSR。截止到2015年12月29日店铺dsr如下图。虽然不是很差，但三项指标均绿，伴随着淘宝的禁令，后期想提高DSR肯定更加困难，越难的东西后期也许越重要，我傻眼了。
                            <div><img src="@(basePath)images/content/3-2.jpg"></div>
                        </p>
                        <p>
                            淘宝规则的变化打乱了我的计划，与老板交谈之后，决定2016年一定要先把dsr提起来。问了很多做运营的朋友，得到两种答案：
                        </p>
                        <p>
                            第一种，最简单，不理淘宝的规则，冒着风险继续做好评返现，反正现在也没有被查；
                        </p>
                        <p>
                            第二种，玩一些文字游戏。利用消费者的惯性行为，在详情页描述“亲，收到货，在您满意的情况下尽快确认收货，可以联系客服领取红包哦”。其实文字当中并没有提好评，也没有提到返现，但是对于消费者看来这是什么，直接就认为是好评返现。
                        </p>
                        <p>
                            感觉第一种办法太冒险，所以比较含蓄的尝试了一下第二种办法，经过10天的测试，到2016年1月15日，效果甚微，操作好评返现的人少之又少，dsr原地踏步，毫无进展。
                        </p>
                        <p>
                            二、故人指点，得一良方<br>
                            方法太“小儿科”，效率也太低了，憋都得憋死。踌躇挠头之际，朋友推荐某旗舰店的64G的内存卡以便于过年期间外出旅游时使用。再正常不过的购物流程，却得到意外惊喜，拆开包裹的同时发现一张如下的小卡片（如图一），现金红包卡？微信扫一扫？这是什么情况，满脑子的疑问和好奇，好奇心的驱使之下扫描，关注了。
                            <div><img src="@(basePath)images/content/3-3.jpg"></div>
                        </p>
                        <P>
                            按照它上面的指引扫描该品牌二维码之后，得到一个关注回复的图文消息，接着按照上面的操作流程，提交了订单号和正面评价的图片（如图二、图三，内存卡东西也确实还不错），红包3个工作日内发放。明锐的嗅觉告诉我一定要看看这是个什么鬼，整个过程类似好评返现但操作又是截然不同的微信模式？！全程操作下来我都没去找客服咨询和聊天！
                            <div><img src="@(basePath)images/content/3-4.jpg"></div>
                        就在我满怀疑虑等待的时候，收到这个旗舰店服务号给我发送的红包（如图四），红包就这样领到了？！
                        </P>
                        <p>
                            wow，my good，what happen？！这是怎么实现的？用的什么软件工具？这是微信上面操作淘宝五分好评返现的意思！吃惊的我犹如发现新大陆一样，赶紧打开度娘，结果度娘居然查不到！估计商家自己的技术团队开发的，不然怎么度娘都不知道！经过各种关系的转介绍，追根索源才发现这个旗舰店用了某个平台的好评返利功能，将整个流程搬到了微信上面操作。这么有意思的东西肯定要尝试一下。于是乎，就开始使用这个dsr提升神器了，时间2016年1月25日。
                        </p>
                        <p>
                            三、DSR步步高升<br>
                            既然能在微信上面操作好评返利，发放红包！就没有了之前的顾虑，伴随着16年订单量的增加，使用这个好评返利功能之后DSR提升很快，截止到目前DSR三个指标都已经红了。（如图五、图六）
                            <div><img src="@(basePath)images/content/3-5.jpg"></div>
                            <div class="sub-text">图五</div>
                        2016年2月花费2250元印刷5万张好评返现卡片（单张成本4.5分）
                            <div><img src="@(basePath)images/content/3-6.jpg"></div>
                            <div class="sub-text">图六</div>
                        2016年3月花费2250元再次印刷5万张好评返现卡片（单张成本4.5分）
                        </p>
                        <p>
                            下图七是好评返现发放红包的截图，审核图片通过之后红包就自动发送了。
                            <div><img src="@(basePath)images/content/3-7.jpg"></div>
                        </p>
                        <p>
                            看着每天来好评返现的人数的增加和dsr的提升，真开心。
                            <div><img src="@(basePath)images/content/3-8.jpg"></div>
                        </p>
                        <p>
                            使用“DSR神器”至目前为止，有以下心得：<br>
                            1、	效率提升—每天只需一个客服下班前10分钟审核一下，然后批量发送红包，不需要再与消费者在旺旺沟通任何关于好评返现的问题；<br>

                            2、	节约成本—印刷10w张卡片花费4500元，12637个人来操作好评返现，人均返现1元，人均成本1.36元。使用随机红包来代替之前的固定金额的支付宝返现，既有娱乐性，又能降低成本，之前是固定3-5块，现在是随机1-5块，其实基本都是1块。
                            会员留存—使用这个神器的过程中发现有过好评返现的消费者全部留在我们的微信服务号，而且他们在我们店铺的消费记录是非常清楚的
                        </p>
                        <p>
                            四、后续会员跟踪<br>
                            通过使用该平台的好评返利功能和一些抽奖等渠道的吸粉，目前服务号沉淀粉丝5w+，手机号码注册过的会员2w+。对于这2w+手机号码注册的会员，他们在我们天猫店的购物信息在我们微信服务号的后台是看的非常清楚（如图九、十）。于是我就能根据他们的消费情况进行精确分组，就类似传统的CRM工具一样！
                        </p>
                        <p>
                            <img src="@(basePath)images/content/3-9.jpg">
                        </p>
                        <p>
                            <img src="@(basePath)images/content/3-10.jpg">
                        </p>
                        <p>
                            吸粉的同时也使用该平台的一些抽奖活动，如大转盘，刮刮卡等，给会员和粉丝发送一些微信红包、淘宝店优惠卷、积分及其他的实物类奖品，并与会员形成有效的互动。3月底的新风尚我们针对那些有过消费记录的1.9w+的绑定会员做了一次精准推送，而对于那些这是关注的粉丝则没有推送消息，推送之后的复购数据见图十一，而这一次消息的推送我们是0成本的哟。
                        </p>
                        <p>
                            <img src="@(basePath)images/content/3-11.jpg">
                            <div>目前店铺的DSR还在不断的提升，会员和粉丝也在不断的增加，当然更好玩的营销活动也在不断更新中，期待和大家一起探讨，学习，成长。</div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell news-list">
                @{Html.RenderPartial("_NewsRightItems", basePath);}
            </div>
        </div>
    </div>
</div>