
@{
    ViewBag.Title = "微信精准推送，助力老会员复购破百万-艾客";
    ViewBag.KeyWords = "精准推送、微信运营、复购率";
    ViewBag.Description = "微信新媒体运营、电商老会员维护、微信里的精准推送";
    Layout = "~/Views/Index/Info/_Layout.cshtml";
    string imgPath = Url.Content("~/Content/Login/info/12/");    
}
<div class="wrapper content-wrap">
    <div class="inner-body">
        <div class="table">
            <div class="cell">
                <div class="info-container">
                    <h1 class="title"> 【爆品推荐】双11准备工作之提升DSR！</h1>
                    <div class="cn-panel">
                        <p>有一个电商常见的痛，就是在活动报名的时候被告知：您的店铺DSR不符活动要求！</p>

<p>同时，16年淘宝推出新规则：<strong>DSR评分的趋势权重会提高。</strong>什么叫趋势权重呢？就是指持续的上升或者持续的下降，这变得更加重要起来。</p>

<p>于是在大促前，电商商家一般都会通过人为的干预，让DSR评分有一个持续的上升（一般至少持续10天的上升），这时候都会带来自然搜索排名不错的效果。这促成了很多商家在活动前会更加注意店铺的DSR上升情况。</p>
                        <p><img src="@(imgPath)1.png" /></p>
                        <p>那该如何更快、更安全、更便捷地提升店铺DSR呢？</p>
                        <p>给大家安利一个专业安全又好用的产品：<span style="color:red;">评价神器！</span></p>
                        <p>
                            <strong>应用对象：广大电商商家，包括天猫、淘宝、京东；<br />操作环境：微信服务号；</strong>
                        </p>
                        <p>那该产品从购物、参与评价到商家返礼的整个流程是怎么样呢？请看下面的流程指引：</p>
                        <p><img src="@(imgPath)2.png" /></p>
                        <p><img src="@(imgPath)4.png" /></p>
                        <p>在这整个活动中，商家只需要做以下3个事情： </p>
                        <p><strong>1、设置好晒评价活动；</strong></p>
                        <p><strong>2、设计并印制对应的DM卡，安排仓库随订单发送；</strong></p>
                        <p><strong>3、定期在后台审核发放奖励；</strong></p>
                        <p>在DM卡印制方面，商家朋友们可注意以下两点：<br />
                            1、卡片上面的内容，尽量避免出现好评返现之类的字眼，可调整成“晒评价”、“晒图有礼“等；<br />
                            2、如需统计有多少商家是通过晒评价这个活动关注到公众号，可在卡片上放置对应活动的二维码，而不是公众号的二维码；
                        </p>
                        <p>那这种方式跟个人号支付宝或微信返现对比，有什么优势呢？让我继续安利一下，请看下面<br />表格：</p>
                        <p><img src="@(imgPath)3.jpg" /></p>
                        <p>
                            从以上的对比来看，评价神器这个系统化的管理操作，能给商家带来更便利、安全、低成本的体验！主要详细体现在：<br />
                            1、解决人工的高处理成本！让消费者自己来完成好评的流程；<br />
                            2、没有最高的上限人数，你只需要一个公众号即可实现；<br />
                            3、安全性高，趣味性强；<br />
                            4、留存客户，沉淀粉丝，为后续的活动做流量蓄水！
                        </p>
                        <p>而个人支付宝和微信号的操作过程中，却有以下3个弊端：</p>
                        <p>1、客服需核对并登记客户信息，人工成本高！<br />
                            2、个人微信号的最高上限人数是5K，一旦个人号达到5K，卡片上的二维码需要替换，容易造成卡片浪费！<br />
                            3、每次返现都只能固定金额，无趣、成本高！</p>
                        <p>那评价神器的客户使用效果，具体是怎么样的呢？请看下面案例：</p>
                        <p>
                            <strong>某大品牌化妆品客户</strong><br />
                            月销量10万笔的某大品牌化妆品客户在30天内，DSR迅速翻红！
                        </p>
                       <p><img src="@(imgPath)4.jpg" /></p>
                        <p>
                            <strong>某淘品牌TOP男装客户</strong><br />  
                            某淘品牌男装top客户618大促DSR不跌反升，10天时间，吸粉15000+！
                        </p>
                        <p><img src="@(imgPath)5.png" /></p>
                        <p style="text-align:center;"><strong>最后结语</strong></p>
                        <p>双11马上来临，很多商家已经开始在做准备工作。而呼应开头部分，DSR评分的趋势权重也对搜索排名起着重要作用。所以，想要DSR的稳步提升，赶紧行动起来吧！</p>
                    </div>
                </div>
            </div>
            <div class="cell news-list">
                @{Html.RenderPartial("Info/_RightPartial");}
            </div>
        </div>
    </div>
</div>