
@{
    ViewBag.Title = "微信精准推送，助力老会员复购破百万-艾客";
    ViewBag.KeyWords = "精准推送、微信运营、复购率";
    ViewBag.Description = "微信新媒体运营、电商老会员维护、微信里的精准推送";
    Layout = "~/Views/Index/Info/_Layout.cshtml";
    string imgPath = Url.Content("~/Content/Login/info/11/");    
}

<div class="wrapper content-wrap">
    <div class="inner-body">
        <div class="table">
            <div class="cell">
                <div class="info-container">
                    <h1 class="title"> 微信吸粉的洪荒之力-微海报！</h1>
                    <div class="cn-panel">
                        <p>“流量”等到用时方恨少-—很多淘宝商家心里的痛，那如何去获取更多的流量呢？</p>
                        <p>随着微信社交越来越深入人们的日常生活，商家也想到开始用微信进行拉粉，为店铺引流，从而也降低商家的广告推广费用的投入。那如何做到快速高效率地吸粉呢？</p>
                        <p>
                         在这里，我给大家介绍一种有效的吸粉工具—<strong>微海报</strong>
                        </p>
                        <p>
                           <strong>如何策划一场比较成功的微海报活动呢？</strong>
                        </p>
                        <p><img src="@(imgPath)1.png" /></p>
                        <p><strong>1、了解你的粉丝群体</strong></p>
                        <p>
                            粉丝的特征是海报活动的首要考虑因素，也是直接影响海报活动参与率跟推广性的重要因素。
你可以尝试先对粉丝的几个关键维度进行分析（性别、年龄、营销偏好、消费层次、职业等），针对他们的痛点进行分析，同时找到他们共同的吸引点去策划活动
                        </p>
                        <div><img src="@(imgPath)2.png" /></div>
                        <p><strong>2、设置粉丝喜欢的奖品</strong></p>

                        <p>奖品的设置也是有讲究的，如果你的粉丝群体主要是在校大学生的话，可以通过送流量包、送护肤品等方式来设置礼品，但如果你的粉丝群体是在职的白领阶层的话，那可以送电影券、送星巴克兑换券等礼品，这些都是让他们有参与活动的冲动，所以切中他们的感兴趣的点去设置奖品，对于活动的传播效果也是事半功倍。
                        </p>
                        <p><img src="@(imgPath)3.png" />
                        </p>
                        <p><strong>3、多样化的推广渠道</strong>
                        </p>
                        <P>
                           <img src="@(imgPath)4.png" />
                        </P>
                        <p>
                           <strong>4、活动时间合理化</strong>
                        </p>
                        <p>
                           关于微海报的活动时间，也是困扰很多商家的一点，据个人的不完全统计了解，微海报活动的设置合理的时间段是在7天的时间，如果超过7天，活动的裂变效果就会快速降下来，所以每次活动我们都应该重视粉丝的参与疲劳度，有效地发挥活动的效果，才是不错的海报活动。
                        </p>
                        <p><strong>5、海报图片设计规范化</strong></p>
                        <p>关于海报的图片设计，除了添加我们品牌方的logo以外，海报的内容也要凸显利益点，告知你们粉丝，分享到朋友圈将可以获取奖品。海报上可以添加粉丝自己的头像，海报看起来就好像是你的粉丝亲自为你代言这个活动，让整个活动的传播性会更高，形式也不会显得太单一。</p>
                        <p><strong>在校大学生群体——某化妆品牌的微海报活动</strong></p>
                        <p>它的活动通过兑流量的方式，吸引服务号的粉丝进行传播推广，他们用了4天的时间，一共吸粉8K+，每个拉新的成本是0.25元。</p>
                        <p> <img src="@(imgPath)5.png" /></p>
                        <p><strong>年轻的妈妈群体——某玩具品牌的微海报活动</strong></p>
                        <p>它的活动主要通过抢千元红包的方式，吸引服务号的粉丝进行推广，他们用了3天的时间，新增粉丝2.5w+，这个增粉数比他们前期积累了半年的粉丝量高出2倍+，每个新粉丝的成本是0.1元。</p>
                        <p> <img src="@(imgPath)6.png" /></p>
                        <p>
                            1）问题点：海报内容不清晰<br />
     数据：活动期间新增粉丝数不超过300<br />
     分析：海报内容流程不清晰，内容设置过于简单
                        </p>
                      <p> <img src="@(imgPath)7.png" /></p>
                        <p>2）问题点：海报拉新门槛设置过高<br />
     数据：活动期间新增粉丝不足2K
     分析：每个粉丝需要拉够50个粉丝才能兑换内衣，投入成本过高</p>
                        <p> <img src="@(imgPath)8.png" /></p>
                        <p>3）问题点：利益点不吸引粉丝<br />
     数据：活动期间新增粉丝不足500
     分析：活动奖品以魔兽游戏道具为主，不够吸引粉丝关注跟分享</p>
                        <p> <img src="@(imgPath)9.png" /></p>
                        <p><strong>微海报攻略总结</strong></p>
                        <p>对于微海报的使用，往往很多商家只是为了吸粉，然而后面也没其他内容的维护，导致粉丝的取关量也很高，使得前期所做的活动基本上都是白费的。</p>
                        <p>所以微海报作为店铺大促活动前期的预热工具，利用微信来加大品牌方的传播—积累粉丝，可以再利用平台的活动—转化粉丝，最后利用会员体系—留住粉丝。这样的话，才能从流量思维转为存量运营。</p>
                        <p>也有商家担心微海报属于分享诱导性活动，轻罚则屏蔽活动文章，重罚则封号或粉丝清0。在这里也教大家一招，可轻松绕过微信的屏蔽或检索。那就是直接推送海报图片，哪怕粉丝想向微信举报，以图片的形式也举报不了，这样的话，可以轻松绕过微信的检索，避免被微信拉黑的情况。</p>
                        <p> <img src="@(imgPath)10.png" /></p>
                        <p><strong>与此同时，微海报活动也要注意以下三点：</strong></p>
                        <p><strong>1）定位粉丝特征</strong></p>
                        <p>定位你的粉丝群体的特征，了解他们的喜好，才能设置相应的奖品跟海报，才能事半功倍；</p>
                        <p><strong>2）活动前期筹备</strong></p>
                        <p>筹备阶段需要注意你的活动预算、活动的时间、活动奖励方式、推广渠道，这些因素将会影响你的活动传播效果；</p>
                        <p><strong>3）活动前期测试</strong></p>
                        <p>确保活动能够正常地玩转起来，活动前期最好测试每个环节，确保活动能正常进行，避免疏漏。（最好公司内部员工集体测试流程）</p>
                    </div>
                </div>
            </div>
            <div class="cell news-list">
                @{Html.RenderPartial("Info/_RightPartial");}
            </div>
        </div>
    </div>
</div>