
@{
    ViewBag.Title = "微信导流、天猫成交，助力天猫女王节当日成交3万单-艾客";
    ViewBag.KeyWords = "微信营销、天猫导流、天猫女王节";
    ViewBag.Description = "淘宝流量、利用微信导流提高天猫店铺销售额";
    Layout = "~/Views/Index/Info/_Layout.cshtml";
    string imgPath = Url.Content("~/Content/Login/info/"); 
}
<div class="wrapper content-wrap">
        <div class="inner-body">
            <div class="table">
                <div class="cell">
                    <div class="info-container">
                        <h1 class="title">微信导流，天猫成交，助力天猫女王节当日成交3万单全揭秘</h1>
                        <div class="cn-panel">
                            <p>
                                近两年淘宝的商家普遍反映，流量获取成本越来越高，竞争越来越激烈。在微信如日中天的今天，越来越多的淘系卖家，寄希望于微信。所以的人都知道，移动电商结合社交是未来的趋势，但是真正能走通这条路的企业，却没有几家。
                            没做起来的原因很简单:
                            </p>
                            <p>
                                第一，由于淘宝与微信的竞争关系，给商家的运营带来了天然的屏障；br/>
                            第二，微信社群运营是需要有内容输出，但我们大部分的淘宝商家只懂得卖货，肚子里没有几滴墨水。一些商家依然在不屈不挠的坚持到处摘抄搜罗行业相关的文章，比如做女装的教你怎么穿可以显瘦，小个子怎么穿显高......配各种心灵鸡汤，搞笑段子，坚持更新。在内容同质化的今天，指望抄点文章发发就涨粉，已经变得几乎不可能了。
                            </p>
                            <p>
                                更多做比较好的企业，用微信服务号+配合个人号，构建自己的微信SCRM体系，用社群来沉淀，维护自己的消费者。上个月，我们指导服务的一家孕产类商家，通过微信给天猫三八女王节引流，单日销售额突破3万单。简单分享下其中的一些关键：
                            </p>
                            <p class="text-center">
                                <img src="@(imgPath)content/2-1.jpg"></p>
                            <p>
                                品牌背景介绍：<br />
                                子初：专注孕妇、婴儿护肤。子初孕婴护肤品牌已成功涉足天猫、京东、唯品会、乐蜂网、宝宝树、贝贝网等各大知名电商平台，近几年的高速发展，令子初成功跻身孕婴护理行业前三甲，更是浙江8套《超级辣妈帮》鼎力推荐品牌。企业开通了微信服务号，通过包裹营销、短信引导、微信线上活动，公众号积累了近2万多粉丝。
                            </p>
                            <p>
                                一、明确目标<br />
                                由于过年的原因，在三八活动前的1个月，微信端的粉丝会员互动停滞了一段时间，整个微信号的活跃度不如以前。而做微信运营的必须要清楚，关注品牌微信的，实际上是有两个群体，一个是有消费过的会员，一个是未消费过的粉丝。子初店铺由于会员有专属积分返利，所以针对会员的优惠就与粉丝不太一样了。在3.8活动来临之前，针对这些情况，对此次活动的目标设定为：<br />
                                1.	活跃起粉丝会员的热情<br />
                                2.	预告活动<br />
                                3.	针对粉丝给到更大的优惠，刺激他们购买成为会员
                            </p>
                            <p>
                                二、方案制定<br />
                                由于接到微信端要参与此次女王节活动宣传的命令时，已经比较晚了。所以在整个运营活动设计上，以简单为主。整个微信推送，只在3.3日、3.5日推送两次。3.3日推送目的主要激活粉丝会员、3.5日主要在活动开始前，再次提醒会员。<br />
                                整个活动将分会员、粉丝两条路线
                            <div>
                                <img src="@(imgPath)content/2-2.jpg"></div>
                                <div class="text-center sub-text">如图：绑定的就是会员，未绑定的对象就是粉丝呢。</div>
                            </p>
                            <p>
                                3.3日20点推送图文：<br />
                                免单活动参与也非常简单，设计为所有人均可以参加，在图文点击进去后，点击免单活动宣传图片即可进入活动
                            <div class="text-center">
                                <img src="@(imgPath)content/2-3.jpg"></div>
                            </p>
                            <p>
                                图文推送获取高点击率的秘籍：<br />
                                1.	标题32个字符内为宜（读者不用点击进去也能完整看到标题）<br />
                                2.	突出利益点；9.9元包邮、100元免单，均为诱惑利益点<br />
                                3.	代入感；“你有一个”，给读者已得到的感觉<br />
                                3.5日21点推送图文：<br />
                                <div>
                                    <img src="@(imgPath)content/2-4.jpg"></div>
                                3.5日推送，与3.3日免单活动相呼应，同时在里面推送重点活动利益点，对激活的会员粉丝，再次巩固活动利益，激发购买欲望。
                            </p>
                            <p>
                                三、活动效果<br />
                                <div>
                                    <img src="@(imgPath)content/2-5.jpg"></div>
                                推送阅读数据效果<br />
                                会员：发送给会员的阅读率为44.4%<br />
                                粉丝：粉丝的阅读率为27.9%<br />
                                而在这里有一个点也是大家所不能忽视的，本次活动，在微信中，针对这些会员推送了两次图文，而且是完全免费的推送哦。
                        <br />
                                <div>
                                    <img src="@(imgPath)content/2-6.jpg"></div>
                                免单活动参与<br />
                                免单活动参与人数为1404人，在触达到的会员+粉丝的参与率为24%
                        <div>
                            <img src="@(imgPath)content/2-7.jpg"></div>
                            </p>
                            <p>
                                优惠券领取<br />
                                会员：10-99元优惠券，领取187张，领取率为7.3%<br />
                                粉丝：20-159元优惠券，领取163张，领取率为5%
                        <div>
                            <img src="@(imgPath)content/2-8.png"></div>
                            </p>
                            <p>
                                复购率<br />
                                店铺整体老会员复购率为1.49%，微信留存会员复购率3.36%，足足是1倍多的差距！
                            </p>
                            <p>
                                结语<br />
                                随着目前拉新成本越来越高，老会员的维护与挖掘潜在价值就是新的利润增长点。而微信作为目前社交属性最强的社交工具，如何利用好它的高互动、高达到率的特点，是我们每个crm同学要学习研究的必修课。到目前为止，客户微信留存的会员是7000多人，粉丝1万多人，取到这个成绩，占比整体店铺量还很小，但这个单位产出已经给客户很大的信心；后续将加大力度留存更多的会员，假如这个数据去到了10万、20万，今年双十一有好戏看了！
                            </p>
                            <p>
                                <div>
                                    <img src="@(imgPath)content/2-9.jpg"></div>
                                <div>欢迎加我个人微信号交流：lxang_vito</div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cell news-list">
                    @{Html.RenderPartial("Info/_RightPartial");}
                </div>
            </div>
        </div>
    </div>